html,
body,
h1,
h2,
h3,
p,
a,
ul,
input,
button,
textarea {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  outline: none;
  color: #f4f3ee;
  border: none;
}

body {
  background-color: #f5f3e5;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}

/* Header */
#header {
  z-index: 100;
  background: #383838;
}
#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  margin: 0 auto;
}
#header nav {
  text-align: center;
}
#navbar li a {
  cursor: pointer;
  transition: 0.15s ease;
}
#navbar li a:hover {
  color: #5c5b5b;
}
h1 {
  user-select: none;
}
#navbar li,
h1 {
  display: inline-block;
  padding: 1rem 0.5rem;
}
.nav-toggle {
  display: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0;
}
#header-container .open {
  height: 100vh;
}

#pages {
  height: 0;
  margin-top: 1rem;
  overflow: hidden;
  transition: 250ms ease-in-out;
  background: #383838;
  flex-direction: column;
  position: absolute;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  right: 68px;
}
#pages li {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
}
#navbar .pagesOpen {
  height: 164px;
  display: block;
  flex-direction: column;
}
.hidden {
  display: none;
}
@media all and (max-width: 720px) {
  #header-container {
    flex-direction: column;
    align-items: flex-start;
  }
  #navbar {
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: 250ms ease-in-out;
  }
  #navbar li {
    display: block;
    text-align: center;
  }
  .nav-toggle {
    display: block;
  }
  #pages {
    position: relative;
    margin-top: 0;
    left: 0;
  }
  #navbar .pagesOpen {
    z-index: 1;
    height: 137px;
    margin-top: 1rem;
  }
}

#body {
  background: url("./images/pexels-roberto-shumski-1903702.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-color: #f5f3e5;
}

/* 
#banner {
  margin: 150px;
  text-align: center;
  text-shadow: 8px 8px 7px rgba(255, 255, 255, 0.9),
    -8px -8px 7px rgba(255, 255, 255, 0.9);
}
*/

#banner {
  margin: 150px;
  text-align: center;
  text-shadow: 5px 5px 7px rgba(255, 255, 255, 0.9),
    -5px -5px 7px rgba(255, 255, 255, 0.9),
    -5px 5px 7px rgba(255, 255, 255, 0.9), 5px -5px 7px rgba(255, 255, 255, 0.9);
}
#banner h2 {
  color: #383838;
  font-size: 3rem;
}
#banner p {
  color: #383838;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.5rem;
}
#banner-buttons li {
  margin: 10px;
  margin-top: 30px;
  display: inline-block;
}
#banner a {
  color: #000;
  padding: 10px;
  border: solid 2px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.3);
}
#banner #banner-signup {
  color: #fff;
  padding: 10px;
  border: solid 2px rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
}

#main {
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
}

#box-intro {
  background: #383838;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
}
#box-intro header {
  margin: 40px;
  display: block;
}
#box-intro h2 {
  margin-top: 40px;
  display: flex;
  font-size: 1.5rem;
  padding-bottom: 40px;
  border-bottom: solid 2px #f4f3ee;
}
#box-intro header p {
  margin-top: 40px;
  margin-bottom: 40px;
}
.box-intro-image {
  display: block;
  background: url("./images/pexels-pixabay-414171.jpg");
  height: 250px;
  width: 100%;
  position: relative;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#feature-box {
  width: 828.2px;
  margin-top: 40px;
  padding: 30px;
  display: inline-flex;
  border-radius: 10px;
  background: #383838;
  color: #f4f3ee;
}
#feature-box h3 {
  font-size: 1.5rem;
  padding-bottom: 20px;
}
.feature-rows {
  width: 50%;
  position: relative;
  text-align: center;
}
.features {
  padding: 30px;
}

#feature1 {
  border-bottom: solid 1px #f4f3ee;
  border-right: solid 1px #f4f3ee;
}
#feature2 {
  border-top: solid 1px #f4f3ee;
  border-right: solid 1px #f4f3ee;
}
#feature3 {
  border-bottom: solid 1px #f4f3ee;
  border-left: solid 1px #f4f3ee;
}
#feature4 {
  border-top: solid 1px #f4f3ee;
  border-left: solid 1px #f4f3ee;
}

#additional-info-box {
  margin-bottom: 70px;
  margin-top: 40px;
  display: inline-flex;
}

.box-special {
  width: 300px;
  background-color: #383838;
  color: #f4f3ee;
  border-radius: 10px;
  display: block;
}
#box-special1 {
  margin-right: 65px;
}
#box-special2 {
  margin-left: 65px;
}
.box-special h3 {
  padding: 20px;
}
.box-special p {
  padding-left: 20px;
  padding-right: 20px;
}
.box-special ul {
  padding: 40px;
}
.box-special a {
  color: #f4f3ee;
  padding: 10px;
  border: solid 2px #f4f3ee;
  border-radius: 10px;
}
.image-featured1 {
  height: 375px;
  width: 300px;
  display: block;
  background: url("./images/pexels-eberhard-grossgasteiger-1366919.jpg");
  background-size: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.image-featured2 {
  height: 375px;
  max-width: 300px;
  display: block;
  background: url("./images/pexels-guillaume-meurice-1591447.jpg");
  background-size: contain;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

#cta {
  color: #f4f3ee;
  background-color: #6997ad;
  padding: 30px;
  display: block;
  text-align: center;
}
#cta h2 {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 25px;
}
#cta p {
  margin: 15px;
}
form div {
  margin: 10px;
  display: inline-block;
}
#cta .CTAsubmit input {
  color: #383838;
}

#footer {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  display: block;
  background: #383838;
  color: #f4f3ee;
}
#footer a {
  color: #f4f3ee;
}
#icons li {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 12px;
  margin-right: 12px;
  display: inline-block;
}
#copyright li {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 12px;
  margin-right: 12px;
  display: inline-block;
}

input {
  padding: 10px;
  border: none;
  border-radius: 10px;
}
.email-box input {
  background: rgba(255, 255, 255, 0.15);
  outline: none;
}
.email-box ::placeholder {
  color: #f4f3ee;
}

@media all and (max-width: 935px) {
  #body {
    background-repeat: no-repeat;
    background-size: cover;
    height: 653px;
  }
}
@media all and (max-width: 878px) {
  #body {
    background-repeat: no-repeat;
    background-size: cover;
    height: 684px;
  }
}
@media all and (max-width: 535px) {
  #body {
    background-repeat: no-repeat;
    background-size: cover;
    height: 714px;
  }
}
@media all and (max-width: 460px) {
  #body {
    background-repeat: no-repeat;
    background-size: cover;
    height: 803px;
  }
}
@media all and (max-width: 431px) {
  #body {
    background-repeat: no-repeat;
    background-size: cover;
    height: 834px;
  }
}
@media all and (max-width: 362px) {
  #body {
    background-repeat: no-repeat;
    background-size: cover;
    height: 864px;
  }
}
@media all and (max-width: 300px) {
  #body {
    background-repeat: no-repeat;
    background-size: cover;
    height: 894px;
  }
}
@media all and (max-width: 294px) {
  #body {
    background-repeat: no-repeat;
    background-size: cover;
    height: 924px;
  }
}

@media all and (max-width: 936px) {
  #feature-box {
    display: inline-block;
    margin-top: 40px;
    position: relative;
    width: calc(100% - 60px);
  }
  .feature-rows {
    width: calc(100% - 60px);
  }
  .features {
    display: inline-block;
    position: relative;
    width: 100%;
  }
  #feature1 {
    border-bottom: solid 2px #f4f3ee;
    border-right: none;
  }
  #feature2 {
    border-bottom: solid 2px #f4f3ee;
    border-top: none;
    border-right: none;
  }
  #feature3 {
    border-bottom: solid 2px #f4f3ee;
    border-left: none;
  }
  #feature4 {
    border-top: none;
    border-left: none;
  }
}
@media all and (max-width: 830px) {
  #box-special1 {
    margin-right: 35px;
  }
  #box-special2 {
    margin-left: 35px;
  }
}
@media all and (max-width: 777px) {
  #banner {
    width: 400px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    text-align: center;
  }
  #additional-info-box {
    margin-left: 0;
    margin-right: 0;
  }
  #box-special1 {
    margin-right: 20px;
  }
  #box-special2 {
    margin-left: 20px;
  }
}

@media all and (max-width: 687px) {
  #additional-info-box {
    display: inline-block;
  }
  .image-featured2 {
    margin-top: 40px;
  }
  #box-special1 {
    margin-right: 0;
  }
  #box-special2 {
    margin-left: 0;
  }
}

@media all and (max-width: 490px) {
  #banner {
    width: 380px;
  }
}

@media all and (max-width: 460px) {
  #banner {
    width: 250px;
  }
}

/* ICONS */
.fas {
  padding: 10px 5px;
  cursor: pointer;
  transition: 0.15s ease;
}
.fas:hover,
.fa-twitter-square:hover,
.fa-facebook-square:hover,
.fa-instagram-square:hover,
.fa-github-square:hover {
  color: #5c5b5b;
}
.fa-bars {
  padding: 0;
  font-size: 1.2rem;
}
.fa-times {
  padding: 0;
  font-size: 1.4rem;
}
.fa-chevron-down {
  padding: 0;
  padding-left: 5px;
}
.fa-twitter-square,
.fa-facebook-square,
.fa-instagram-square,
.fa-github-square {
  font-size: 2rem;
}
.fa-twitter::before,
.fa-facebook-f::before,
.fa-instagram::before,
.fa-github::before {
  display: none;
}

/* SIGN UP - SEND FEEDBACK BUTTONS: */
#messageSent:hover {
  cursor: pointer;
  background-color: #c2c2c2;
}
